html{
    background-color: black;
    font-family: Verdana;
    font-weight: normal;
    font-size: 16px;
    color: white;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h1{
    font-size: 3.125rem;
    margin: 20px auto;
}

a {
    color: aquamarine;
    text-decoration: underline;
}

h2{
    font-weight: 300;
    font-size: 2.625rem;
}

h3{
    font-size: 1.3125rem;
    color: gray;
}

div{
    margin: 15px auto;
    width: 100%;
}

.purpose {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.purpose h3,
img{
    margin: 10px auto;
}

footer{
    width: 100%;
}

footer h3 {
    text-align: right;
    margin: auto 10px
}

